In [ ]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from datetime import datetime
import random
import datetime

https://www.datacamp.com/community/tutorials/fuzzy-string-python
https://stackabuse.com/levenshtein-distance-and-text-similarity-in-python/

In [ ]:
#Read all sheeets
df= pd.read_excel("babbel2.xlsx", sheet_name = None)

df1 = df['vocab']
df2 = df['REPP']

In [ ]:
df.keys()

In [ ]:
df.values()

In [ ]:
df['REPP']

In [ ]:
str2Match = ""
strOptions = ["Apple Inc.","apple park","apple incorporated","iphone"]
Ratios = process.extract(str2Match,strOptions)
print(Ratios)
# You can also select the string with the highest matching percentage
highest = process.extractOne(str2Match,strOptions)
print(highest)

In [ ]:
for i in df['NORWEGIAN'].unique():
    Ratios = process.extract(i,df.NORWEGIAN, limit = 10)
    print(i, Ratios)

In [ ]:
from fuzzywuzzy import fuzz
Str1 = "abonnere"
Str2 = "abonnerte"
Ratio = fuzz.ratio(Str1.lower(),Str2.lower())
Partial_Ratio = fuzz.partial_ratio(Str1.lower(),Str2.lower())
Token_Sort_Ratio = fuzz.token_sort_ratio(Str1,Str2)
Token_Set_Ratio = fuzz.token_set_ratio(Str1,Str2)

In [ ]:
print(Ratio)
print(Partial_Ratio)
print(Token_Sort_Ratio)
print(Token_Set_Ratio)

In [ ]:
import pandas as pd

In [1]:
import tabula
from tabula import read_pdf
pdf_path = "/Users/Edite/NorwegianVocabulary.pdf"

In [2]:
from PyPDF2 import PdfFileReader
inputPdf = PdfFileReader(open("/Users/Edite/NorwegianVocabulary.pdf", "rb"))
docInfo = inputPdf.getDocumentInfo()
docInfo.author

PdfReadWarning: Xref table not zero-indexed. ID numbers for objects will be corrected. [pdf.py:1736]

'Andrey Taranov'

In [ ]:
docInfo.creator

In [ ]:
docInfo.producer

In [ ]:
docInfo.title

In [ ]:
docInfo.subject

In [ ]:
inputPdf.getNumPages()

In [ ]:
inputPdf.getPage(10).extractText()

In [3]:
from foods import foods
foods

['chocolate', 'steak', 'avocado', 'koffee']

In [52]:
import random
import string

In [26]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [46]:
def get_valid_word(foods):
    word = random.choice(foods)
    while '-' in word or ' ' in word:
        word = random.choice(foods)
    return word.upper()

In [61]:
def hangman():
    word = get_valid_word(foods)
    word_letters = set(word)
    alphabet = set(string.ascii_uppercase)
    used_letters = set() 
    
    while len(word_letters)>0:
        print('You have used these leters:', ' '.join(used_letters))
        word_list = [letter if letter in used_letters else '-' for letter in word]
        
        print('Current word: ', ''.join(word_list))
        user_letter = input('Type something:').upper()
        if user_letter in alphabet - used_letters:
            used_letters.add(user_letter)
            if user_letter in word_letters:
                word_letters.remove(user_letter)
                print('')
        elif user_letter in used_letters:
            print('You have already used that character. Please try again.')

        else:
            print('Invalid character. Please try again')
            
            
if __name__ == '__main__':
    hangman()

You have used these leters:
Current word:  -------
Type something:A

You have used these leters: A
Current word:  A---A--
Type something:V

You have used these leters: V A
Current word:  AV--A--
Type something:O

You have used these leters: V A O
Current word:  AVO-A-O
Type something:C

You have used these leters: V A C O
Current word:  AVOCA-O
Type something:D

In [70]:
import pandas as pd
df = pd.DataFrame(columns =['engelsk','norsk'])

In [71]:
import csv
with open('NorwegianVocubulary.txt', 'r') as fd: 
    reader = csv.reader(fd)
    for row in reader:
        if 'adj' in str(row):
            norskI =[]
            #English
            engelsk = str(row)[2:str(row).find('(')-1]
            norskI.append(engelsk)
            #Norsk
            norsk = str(row)[str(row).find('-')+2:][0:str(row)[str(row).find('-'):].find('[')-3]
            norskI.append(norsk)
            if len(df[df.engelsk == norskI[0]])<1 or len(df[df.norsk == norskI[1]])<1:
                df.loc[len(df)] = norskI
                
            else:
                norskI =[]
    #norskI = ','.join(norskI)
    #print(norskI)

In [72]:
df.tail()

                engelsk          norsk
492  the same', ' equal  samme', " lik
493              tiring      trøttende
494         transparent    transparent
495             unclear          uklar
496             various    forskjellig

In [174]:
df.norsk.value_counts()

gammel              2
billig              2
utmerket            2
stille              2
fiendtlig           2
                   ..
kunstig             1
amerikansk          1
stor                1
beruset', " full    1
sentral             1
Name: norsk, Length: 488, dtype: int64

In [171]:
df.engelsk.value_counts()

leather        2
foreign        2
short          2
standard       2
hot            2
              ..
left           1
nervous        1
magnificent    1
Liberal        1
approximate    1
Name: engelsk, Length: 492, dtype: int64

In [173]:
df[df.engelsk =="short"]

    engelsk           norsk
65    short            kort
151   short  liten av vekst

In [168]:
len(df.norsk[df.norsk.str.contains(',')])

31

In [169]:
len(df.engelsk[df.engelsk.str.contains(',')])

26

## List all tables

In [36]:
import sqlite3
con = sqlite3.connect('norsk.db')
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('verbs',), ('VerbBender',), ('IG',)]

In [73]:
conn = sqlite3.connect('norsk.db')
cursor = con.cursor()
df.to_sql("IG", conn, if_exists='append', index = False)
conn.commit()
#conn.close()

In [75]:
conn = sqlite3.connect('norsk.db')
query = '''
select * from  IG;'''
df = pd.read_sql_query(query,conn)
df

                engelsk          norsk
0                 first         første
1                second          annen
2                 third         tredje
3                fourth         fjerde
4                 fifth          femte
..                  ...            ...
492  the same', ' equal  samme', " lik
493              tiring      trøttende
494         transparent    transparent
495             unclear          uklar
496             various    forskjellig

[497 rows x 2 columns]

In [42]:
cursor.executescript("DROP TABLE IF EXISTS IG")

In [43]:
cursor.execute('''CREATE TABLE IG (
                engelsk TEXT
                ,norsk TEXT)''')

In [59]:
df[df.engelsk == "first"]

Empty DataFrame
Columns: [engelsk, norsk]
Index: []