In [1]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from datetime import datetime
import random
import datetime

https://www.datacamp.com/community/tutorials/fuzzy-string-python
https://stackabuse.com/levenshtein-distance-and-text-similarity-in-python/

In [55]:
#Read all sheeets
df= pd.read_excel("babbel2.xlsx", sheet_name = None)

df1 = df['vocab']
df2 = df['REPP']

In [3]:
df.keys()

dict_keys(['REPP', 'vocab', 'vocab1'])

df.values()

In [4]:
df['REPP']

      NORWEGIAN       English       Source     Last time not known
0      abonnere  to subscribe          NaN                     NaT
1      abstrakt      abstract          NaN                     NaT
2      adoptere      to adopt          NaN                     NaT
3         ærlig        honest          NaN                     NaT
4     aggressiv    aggressive          NaN                     NaT
...         ...           ...          ...                     ...
2186        loe           NaN            z 2021-01-13 15:00:26.059
2187        ler           NaN         jup; 2021-01-13 15:04:15.005
2188       lesr           NaN  outer space 2021-01-13 15:05:11.378
2189        lsr           NaN        space 2021-01-13 15:11:01.756
2190         lr           boo          hoo 2021-01-13 15:17:48.779

[2191 rows x 4 columns]

str2Match = ""
strOptions = ["Apple Inc.","apple park","apple incorporated","iphone"]
Ratios = process.extract(str2Match,strOptions)
print(Ratios)
# You can also select the string with the highest matching percentage
highest = process.extractOne(str2Match,strOptions)
print(highest)

for i in df['NORWEGIAN'].unique():
    Ratios = process.extract(i,df.NORWEGIAN, limit = 10)
    print(i, Ratios)

from fuzzywuzzy import fuzz
Str1 = "abonnere"
Str2 = "abonnerte"
Ratio = fuzz.ratio(Str1.lower(),Str2.lower())
Partial_Ratio = fuzz.partial_ratio(Str1.lower(),Str2.lower())
Token_Sort_Ratio = fuzz.token_sort_ratio(Str1,Str2)
Token_Set_Ratio = fuzz.token_set_ratio(Str1,Str2)

print(Ratio)
print(Partial_Ratio)
print(Token_Sort_Ratio)
print(Token_Set_Ratio)

In [60]:
def NOK(i):
    Ratios = process.extract(i,df1.NORWEGIAN, limit = 5)
    print(i, Ratios)
    print()
    atbilde = []
    found = ""
    if Ratios[0][1] != 100:
        enter = input("Does this need to be entered?").lower()
        if enter == "y":
            meaning = input("What is english transaltion of this word?")
            where = input("Where does this word come from?")
            atbilde.extend([i, meaning,where,datetime.datetime.now()])
            df1.loc[len(df1)] = atbilde
            
            with pd.ExcelWriter('Babbel2.xlsx',  engine='openpyxl') as writer:  
                df1.to_excel(writer, sheet_name='vocab', index = False)
            print(f'{i} has been added to the Edites Corpus')
        
    
        elif enter == "n":
            while found not in df2.NORWEGIAN.values:
                found = input("Which word is it?")
        print()
        #print(df[df.NORWEGIAN == found][1])
        #print(df[df.NORWEGIAN == found][2])
        
        #atbilde.extend([i, meaning,where,datetime.datetime.now()])
            
    else:
        #atbilde.extend([i, meaning,where,datetime.datetime.now()])
        where = input("Where does this word come from?")
        print(i, where, datetime.datetime.now())

In [62]:
NOK("Kenn")

Kenn [('en', 90, 142), ('nå', 90, 1748), ('Ken', 86, 2192), ('kjenne', 80, 1601), ('et laken', 77, 1195)]

Does this need to be entered?y
What is english transaltion of this word?barbie
Where does this word come from?barbieworld
Kenn has been added to the Edites Corpus